.App {
  text-align: center;
  color: white;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
}

span.locked {
  background-color: #111;
  color: #aaa;
}

.puzzle {
  margin: auto;
  max-width: 60em;
}

.puzzle .event-stream {
  position: relative;
  padding: 0.5rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  height: 8.5rem;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.puzzle .event-stream::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 75%;
  width: calc(100% - 1rem);
  background: linear-gradient(0, #333, transparent);
}

.puzzle .event-stream-header {
  white-space: nowrap;
  padding: 0.5rem 1rem;
}

.puzzle .event-stream-items {
  text-align: left;
}

.puzzle .cipher-text-display {
  background-color: #444;
  padding: 1rem;
  word-break: break-word;
  text-align: justify;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: monospace;
}

.puzzle-letter {
  animation: letter_change ease-out 1s;
}

.puzzle-buttons {
  padding: 0.5rem;
}

.puzzle-buttons > * {
  margin: 0 0.25rem;
}

.puzzle header {
  text-align: left;
  padding: 0.25rem;
  color: lightgray;
}

@keyframes letter_change {
  from {
    color: #0f0;
  }
  to {
    color: inherit;
  }
}

.puzzle-solved-overlay {
  animation: fade_over 1s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

.puzzle-overlayable {
  position: relative;
}

@keyframes fade_over {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.blurred {
  animation: blur 1s linear;
  filter: blur(5px);
}

@keyframes blurout {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(5px);
  }
}
