body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
}

.App {
  color: white;
}

span.locked {
  background-color: #111;
  color: #aaa;
}

.main-content {
  position: relative;
  margin: auto;
  max-width: 50em;
}
