.app-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #333333;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.app-header h1 {
  flex-grow: 1;
  font-size: 1.3rem;
  margin: 0 1rem;
}
